body{
background-color: #EAEAEA;

}
.card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  max-width: 800px;
}

.CardsInfo {
  position: relative;
  width: 300px;
  height: 70px;
}

.ProductTitle {
  position: absolute;
  top: 5px;
  left: 5px;
font-family: Palatino Linotype; 
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;

}
.ProductPrice {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
font-family: ;
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;


}
.ProductRating {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
font-family: ;
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;


}
.ProductBuy {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: ;
font-weight: 600;
font-style: ;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
}

.card{
border-radius: 30px !important;
padding: 30px;
position: relative;
}

.card>img{
    margin: 20px;
    width: 300px;
    height: 250px;
}
.card>div{
   padding-top: 50px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
