@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
font-family: "Montserrat", sans-serif !important;
background-color: #EAEAEA;

}
.mainPage{
  position: relative;
  min-height: 100vh;
  min-width: 80vw;
}

.container_basket{
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow-y: scroll;
  height: 80vh;
  max-width: 80vw;
}

.basket_card{
  border-radius: 30px !important;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
}
.currentCost{
  background-color: #fff;
  
  border-radius: 30px !important;
  padding-top: 20px;
  width: 300px;
  height: 100px;
  margin-right: 20px;
}

.currentCost>button{
  background-color: #000;
  color: #fff;
  border-radius: 30px !important;
  padding: 10px !important;
  width: 300px;
  height: 70px !important;
  margin-top:10px;
}
.delete-icon{
  position: absolute !important;
  top: 20px !important;
  right:20px !important;
}
.delete-icon:hover{
  filter: drop-shadow(0 0 8px rgba(52, 152, 219, 0.7));
  transform: scale(1.05);
}

.total-price{
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right:20px;
  font-weight: 700;
}
.CardsInfoBasket{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.ProductCount{
  display: flex;
  flex-direction: row;
  width: 100px;
}

.round-button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFD700; /* желтый цвет */
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.round-button:hover{
  filter: drop-shadow(0 0 8px rgba(52, 152, 219, 0.7));
  transform: scale(1.05);
}

.counter{
  position: absolute;
  bottom: -3px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFD700; /* желтый цвет */
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.Header{
  position: relative;
  top: 10px;
  height: 20px;
  margin-top: 20px;
  margin: auto; 
  width: 80vw;
}
.Header svg{
margin-left: 20px;
}

.IconBox{
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.iconStyle{
height: 25px;
width: 25px;
margin-right: 15px;
}

.iconStyle:hover{
  filter: drop-shadow(0 0 8px rgba(52, 152, 219, 0.7));
  transform: scale(1.05);
}

.QTitle{
position: absolute;
font-style: bold;
font-weight: 700;
font-size: 25px;
line-height: 100%;
color: #101010;
}
.QTitle:hover{
  text-decoration: underline;
  
}

.styleButton{
padding: 5px; 
height: 30px;
font-size: 20px;
}
.styleButton:hover{
  background-color: #f1e6a4;
  color: #101010;
  cursor: pointer;

}


.Category{
font-weight: 600;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #838383;
margin: auto;
display: block;
width: 80vw;
margin-top: 30px;
margin-bottom: 10px;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  max-width: 80vw;

}

.CardsInfo {
  position: relative;
  width: 300px;
  height: 70px;
}
.ProductTitleBasket{
  font-weight: 600;
  font-style: Bold;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
}
.ProductTitle {
  position: absolute;
  top: 5px;
  left: 5px;
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;

}
.ProductPrice {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;


}
.ProductRating {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;


}
.ProductBuy {
  position: absolute;
  bottom: 5px;
  right: 5px;
font-weight: 600;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
}
.ProductBuy:hover{
  font-size: 20px;
  cursor: pointer;
}

.card{
border-radius: 30px !important;
padding: 30px;
position: relative;
}

.card>img{
    margin: 20px;
    width: 300px;
    height: 250px;
}
.card>div{
   padding-top: 50px;
}

.Footer{
position: absolute;

left: 50%;
transform: translateX(-50%);
bottom: 0px;
width: 80vw;
margin-top: auto; 
background-color: white;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
padding: 30px;
display: flex;
flex-direction: row;
}
.Footer .element:hover
{
  text-decoration: underline;
  cursor: pointer;
}

.stylePagination{
max-width: 1400px;
margin: auto; 
}

.FooterCol1{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.FooterCol2{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.FooterCol3{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}


.FooterCol4{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.LangStyle{
  display: flex;
  flex-direction: row;
}

