body{
background-color: #EAEAEA;
}
.container_basket{
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin:0 auto;
}
.basket_card{
  border-radius: 30px !important;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
}
.currentCost{
  background-color: #fff;
  border-radius: 30px !important;
  padding-top: 20px;
  width: 300px;
  height: 100px;
}

.currentCost>button{
  background-color: #000;
  color: #fff;
  border-radius: 30px !important;
  padding: 10px !important;
  width: 300px;
  height: 70px !important;
  margin-top:10px;
}
.delete-icon{
  position: absolute !important;
  top: 20px !important;
  right:20px !important;
}
.total-price{
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right:20px;
}
.CardsInfoBasket{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.ProductCount{
  display: flex;
  flex-direction: row;
}

.round-button{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFD700; /* желтый цвет */
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.Header{
  position: relative;
  max-width: 800px;
  top: 10px;
  height: 20px;
  margin-top: 20px;
  margin: auto; 
}
.Header svg{
margin-left: 20px;
}

.Icon{
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.QTitle{
position: absolute;
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 25px;
line-height: 100%;
letter-spacing: 0%;
color: #101010;
}

.Category{
font-family: Montserrat;
font-weight: 600;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #838383;
margin: auto;
display: block;
width: 800px;
margin-top: 30px;
margin-bottom: 10px;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  max-width: 800px;
}

.CardsInfo {
  position: relative;
  width: 300px;
  height: 70px;
}
.ProductTitleBasket{
  font-family: Palatino Linotype; 
  font-weight: 600;
  font-style: Bold;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
}
.ProductTitle {
  position: absolute;
  top: 5px;
  left: 5px;
font-family: Palatino Linotype; 
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;

}
.ProductPrice {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
/* font-family: ; */
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;


}
.ProductRating {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
/* font-family: ; */
font-weight: 600;
font-style: Bold;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;


}
.ProductBuy {
  position: absolute;
  bottom: 5px;
  right: 5px;
  /* font-family: ; */
font-weight: 600;
/* font-style: ; */
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
}

.card{
border-radius: 30px !important;
padding: 30px;
position: relative;
}

.card>img{
    margin: 20px;
    width: 300px;
    height: 250px;
}
.card>div{
   padding-top: 50px;
}

.Flutter{
position: relative;
max-width: 800px;
margin: auto; 
background-color: white;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
padding: 30px;
position: relative;
display: flex;
flex-direction: row;
}

.FlutterInfo1{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.FlutterInfo2{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.FlutterInfo3{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.FlutterInfo4{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}







.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
